html, body {
  --body-bg: #000;
  --tile-bg: #181818;
  --grey: grey;
  --red: red;
  --green: green;
  --radius: 10px;
  --cols: 4;
  --rows: 3;

  background-color: var(--body-bg);
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.theme-light {
  --body-bg: #fff;
  --tile-bg: #dedede;
}

button {
  transition: linear 0.4s;
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
  padding: 1rem;
  color: inherit;
}
